<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Add category</h3>
    </div>
  </div>
  <div class="card-block">
    <form #addCategoryForm="ngForm" (ngSubmit)="onSubmit(addCategoryForm)">
      <div
        class="form-group"
        [ngClass]="{'has-error': name.invalid && name.touched}"
      >
        <label class="control-label" for="category-name">Category name</label>
        <input
          type="text"
          id="category-name"
          class="form-control"
          required
          #name="ngModel"
          name="name"
          ngModel
        >
        <span
          class="form-help-text"
          *ngIf="name.invalid && name.touched"
        >Enter the category name</span>
      </div>
      <div
        class="form-group"
        [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
      >
        <label class="control-label" for="category-value">Enter the spending limit</label>
        <input
          type="number"
          id="category-value"
          class="form-control"
          required
          #capacity="ngModel"
          name="capacity"
          [ngModel]="1"
          min="1"
        >
        <span
          class="form-help-text"
          *ngIf="capacity.invalid && capacity.touched"
        >Spending limit</span>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="addCategoryForm.invalid"
      >Add category</button>
    </form>
  </div>
</div>
